body {
  @apply bg-base text-neutral font-sans;
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, div, p {
  @apply font-serif;
}

input, textarea {
  background-color: #fff;
}

